.forgot-container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#1e3c72,#2a5298);
}

.forgot-card{
width:420px;
padding:40px;
background:white;
border-radius:12px;
box-shadow:0 15px 35px rgba(0,0,0,0.2);
text-align:center;
}

.home-icon{
width:70px;
margin-bottom:10px;
}

.main-title{
font-size:20px;
color:#1e3c72;
margin-bottom:8px;
}

.sub-title{
font-size:24px;
margin-bottom:25px;
color:#333;
}

.email-input{
width:100%;
padding:12px;
border-radius:8px;
border:1px solid #ccc;
margin-bottom:20px;
font-size:14px;
}

.email-input:focus{
border-color:#2a5298;
outline:none;
box-shadow:0 0 6px rgba(42,82,152,0.4);
}

.otp-btn{
width:100%;
padding:12px;
border:none;
border-radius:8px;
background:#2a5298;
color:white;
font-size:15px;
cursor:pointer;
}

.otp-btn:hover{
background:#1e3c72;
}